.product-page {
  display: flex;
  max-width: 1200px;
  margin: 2rem auto;
  gap: 3rem;
  padding: 1rem;
}

.product-image-container {
  flex: 1;
}

.product-content {
  display: flex;
  justify-content: space-between;
  width: 70%;
  height: 100%;
  padding: 2rem;
  background: #1d2a36;
  border: 1px solid #32415d;
  border-radius: 0.75rem;
}

.attribute {
  background: rgba(138, 157, 192, 0.12);
  padding: 0.5rem 1rem;
  border-radius: 4px;
  text-align: center;
  /*color: #a1b1c8;*/
}

.value {
  text-align: center;
}


body.mantine-Modal-body {
  overflow: hidden;
}

.mantine-Modal-content {
  overflow: hidden;
}

.carousel-slide {
  transition: transform 0.3s ease-in-out;
}
.modal-carousel-container {
  transition: transform 0.3s ease-in-out;
  will-change: transform;
}
.mantine-Carousel-viewport {
  perspective: 1000px;
  will-change: transform;
}


@media (max-width: 768px) {
  .product-page {
    flex-direction: column;
  }
}
