.about-container {
  margin-top: 1rem;
  max-width: 1440px;
  width: 100%;
  text-align: center;
}

.member-card__bio {
  line-height: 1.6;
}

.member-card__description li {
  list-style: disc;
  list-style-position: inside;
  font-size: 14px;
  margin-bottom: 8px;
}

.member-card__description li > div {
  display: inline;
}

.rsschool-logo {
  max-width: 320px;
  transition: transform 0.3s ease;
}

.rsschool-logo:hover {
  transform: scale(1.1);
}

.rsschool-description {
  max-width: 680px;
  line-height: 1.6;
}