.about-container {
  margin-top: 1rem;
  max-width: 1440px;
  width: 100%;
  text-align: center;
}

.container__dark {
  background-color: #1d2a36;
  border: 1px solid #32415d;
  border-radius: 0.75rem;
}

.member-card__bio {
  line-height: 1.6;
}

.member-card__contribution li {
  list-style: disc;
  list-style-position: inside;
  font-size: 14px;
  margin-bottom: 8px;
}

.member-card__contribution li > div {
  display: inline;
}

.member-card_github:hover{
  text-decoration: none;
}

.member-card_github:hover > div > p {
  transition: color 0.2s;
  color: #d4d8e9 !important;
}

.member-card_github:hover > div > svg {
  transition: fill 0.2s;
  fill: #d4d8e9;
}

.member-card__avatar, .rsschool-logo {
  max-width: 320px;
  transition: transform 0.3s ease;
}

.member-card__avatar:hover, .rsschool-logo:hover {
  transform: scale(1.1);
}

.rsschool-description {
  max-width: 680px;
  line-height: 1.6;
}

.team-collaboration-item {
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1265px) {
  .team-collaboration-item {
    flex-direction: column;
  }

}